







.titulo__contacto{
    font-size: xx-large;
    margin-top: 4%;
    margin-left:2%;
    margin-bottom: 2%;
}


.formulario{
    width:fit-content !important;
    margin-left: 2% !important;

}


.footer2__lista{

    margin: 0 auto;
    width: auto;
    background-color:map-get($colores, "color-terciario");
    list-style: none;

    /* contenedor flex */
    height: 50px;
    border: solid 3px map-get($colores, "color-secundario");
    display: flex;
    flex-direction: row;
    justify-content: space-around; /* direccionar la posicion el contenido */
    align-items: center;

    &__lista__item{
        margin-left: 2%;
        font-size: x-large; 

        a{
            text-decoration: none;
            font-size: x-large;
            color:map-get($colores, "color-neutro");
            display: inline-block;
    
        }
    }
    
}


