
/*Fondo de pagina Index y contacto */

.background-index-contacto{
    background-image: url("./imagenes/fondo.bmp");
    font-family:'Times New Roman', Times, serif;

}


/* Contenido html "Contacto" */

.titulo__contacto{
    margin-top: 2%;
    margin-left:5%;
    margin-bottom: 2%;
}



.titulo__contacto{
    font-size: xx-large;
    margin-top: 1.5%;
    margin-left:2%;
    margin-bottom: 1%;
}


.formulario{
    width:fit-content !important;
    margin-left: 2% !important;
    margin-top: -0.2% !important;
    
    
}



