



/* Contenido html "De Ausencias" */

.titulo__ausencias{
    float:left;
    margin-top:10;
    margin-bottom: 1%;
    margin-left: 2%;
    padding-top: 2px;
   

}

.imagen_principal_ausencias{
    float:left;
    padding-top: 2px;
    padding-right: 10px;
    width: 240;
    height: 240;
    margin-left: 5%;
    margin-top: 1.5%;
}


.parrafo_ausencias{
    font-size: large;
    margin-top:2%;
    margin-bottom: 8.5%;
    margin-left: 3%;
    padding-bottom: 6.5%;
    align-items: flex-end;
    
}