



/* Contenido html "De Ausencias" */


.imagen_principal_ausencias{
    float:left;
    padding-top: 2px;
    padding-right: 10px;
    width: 240;
    height: 240;
    margin-left: 5%;
    margin-top: 1.5%;
}


.parrafo_ausencias{
    font-size: large;
    margin-top:2%;
    margin-bottom: 4.5%;
    margin-left: 8%;
    padding-bottom: 6.5%;
    align-items: flex-end;
    
}