


.imagen_principal_ausencias{
    float:left;
    padding-top: 2px;
    width: 240;
    height: 240;
    margin-right: 1%;
    margin-left: 3%;
    margin-top: 1.5%;
}


.parrafo_ausencias{
    font-size: large;
    margin-top:2%;
    margin-bottom: 4.5%;
    margin-left: 1%;
    padding-bottom: 6.5%;
    align-items: flex-end;
    
}