

/* Fondo de html*/     

.body-index{
    min-height: 50vh;
    background-image: url("../imagenes/fondo.bmp");
    font-family:'Times New Roman', Times, serif;
    

}


/*Falso carrousel*/

.falsocarrousel{
    width: 20%;
    height: 300px;
    margin-top:4%;
    margin-left: 8%;
    margin-bottom: 4%;
    align-items: center;
    background-image: url(../imagenes/mundos-posibles3.png);
    background-repeat:no-repeat;
    background-size:contain;
    animation: carrousel 8s  10;
  }


@keyframes carrousel{
    0%{
        background-image: url(../imagenes/mundos-posibles.png);
    }
    25%{
        background-image: url(../imagenes/de-ausencias.jpg);
    }
    50%{
        background-image: url(../imagenes/en-viaje3.jpg);
    }
    75%{
        background-image: url(../imagenes/mundos-posibles3.jpg);
    }
    100%{
        background-image: url(../imagenes/de-ausencias3.jpg);
    }
  }

@keyframes carrousel{
0%{
    background-image: url(../imagenes/mundos-posibles3.png);
}
25%{
    background-image: url(../imagenes/de-ausencias3.jpg);
}
50%{
    background-image: url(../imagenes/en-viaje3.jpg);
}
75%{
    background-image: url(../imagenes/mundos.posibles3.jpg);
}
100%{
    background-image: url(../imagenes/de-ausencias3.jpg);
}
}


.imagen__libro{
    align-items: left;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom:6.5%;   
}


/* Media queries */


@media screen and (max-width:600px){

   


    /* Acceso directo al libro mas leido */

    .imagen__libro{
        align-items: left;
        margin-left: 20%;
        margin-top: 10%;
        margin-bottom:10%;   
    }
}   

@media screen and (min-width:600px){

    .imagen__libro{
        display:none
    }


}
