


.background-catalogo{
    z-index: 100000;
}

header{
    z-index: 100000;
}

nav{
    z-index: 100000 !important;
}


.titulo__libros{
    font-size: x-large;
    text-align: center;
    margin-left: -10%;
    margin-top:1%;
    margin-bottom: 2%;
}




.card{
    background-color: map-get($colores, "color-principal")!important;
    margin-right: 2% !important;
    margin-top: -1.5% !important;
    margin-bottom: 5vh !important;
    border:none !important;
    font-family:'Times New Roman', Times, serif;
}



