/* Media queries */


@media screen and (max-width:600px){

    .falsocarrousel{
        display:none;
    }


    /* Acceso directo al libro mas leido */

    .imagen__libro{
        align-items: left;
        margin-left: 25%;
        margin-top: 10%;
        margin-bottom:2%;   
    }

    .frase{
        margin-top:-10%;
        margin-bottom: 20%;
    }

    
}   


@media screen and (min-width:600px){

    .imagen__libro{
        display:none;
    }

 
}




@media screen and(max-width:880px) {
    .background-index{
        background-image: url("../imagenes/flor-index.jpg");
        background-repeat: no-repeat;
    }

    .background-contacto{
        background-image: url("../imagenes/flores-rojas.jpg");
        background-repeat: no-repeat;
    }
    
}

@media screen and(min-width:1920px){

    .img_logo{
        display:none;
    }


    .background-index{
        background-image: url("../imagenes/fondo-flor-pc.bmp");
        background-repeat: no-repeat;

    }

}
    

