/* Media queries */


@media screen and (max-width:600px){

    .falsocarrousel{
        display:none;
    }

    .footer__lista{
        margin-top:20%;
    }


    /* Acceso directo al libro mas leido */

    .imagen__libro{
        align-items: left;
        margin-left: 25%;
        margin-top: 15%;
        margin-bottom:4%;   
    }

    .frase{
        margin-top:-10%;
        margin-bottom: 29%;
    }

    
}   


@media screen and (min-width:600px){

    .imagen__libro{
        display:none;
    }

 
}




@media screen and(max-width:880px) {
    .background-index{
        background-image: url("../imagenes/flor-index.jpg");
        background-repeat: no-repeat;
    }

    .background-contacto{
        background-image: url("../imagenes/flores-rojas.jpg");
        background-repeat: no-repeat;
    }
    
}


    

