



.imagen_principal_mundos{
    float:left;
    padding-top: 3px;
    width: 240;
    height: 240;
    margin-left: 1%;
}

.parrafo_mundos{
    font-size: large;
    margin-top:2%;
    margin-bottom: 7%;
    margin-left: 1%;
    align-items: flex-end;
}