

/* Contenido html "Mundos posibles" */


*{
    margin: 0;
    padding: 0;
}




.imagen_principal_mundos{
    float:left;
    padding-top: 3px;
    padding-right: 20px;
    width: 240;
    height: 240;
    margin-left: 3%;
}

.parrafo_mundos{
    font-size: large;
    margin-top:2%;
    margin-bottom: 8.5%;
    margin-left: 3%;
    align-items: flex-end;
}